* {
  box-sizing: border-box;
  position: relative;
  font-family: monospace;
}

body {
  color: #414a57;
  margin: 0;
  background-color: #e0e4ed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

header,
main,
footer {
  padding: 10px;
}

header {
  background-color: #3679d8;
}

footer {
  background-color: #a2b1c6;
}

.bg-dark {
  color: #fff;
}

.bg-dark a {
  color: #fff;
}

.brand {
  font-weight: bold;
}

.upper-wrapper {
  min-height: calc(100vh - 35px);
}

.card {
  background: #fff;
  margin-bottom: 10px;
}

.card .header,
.card .footer {
  padding: 10px;
  background: #3679d8;
}

.card .header {
  font-weight: bold;
  font-size: 1.5rem;
}

.card-a .body {
  padding: 10px;
}

.card .footer {
  background: #a2b1c6;
}

.card-a .footer {
  padding: 10px;
}

.card-b {
  padding: 10px;
}

.card-b .b {
  padding-bottom: 10px;
}

.card-b .header {
  margin: -10px;
  margin-bottom: 10px;
}

.card-b .footer {
  margin: -10px;
  margin-top: 0;
}
