html {
  cursor: none;
}

#cursor {
  width: 100px;
  height: 100px;
  background: rgb(35, 67, 172);
  position: fixed; /* Floating above */
  pointer-events: none; /* Allow clicking trough the div */
  border-radius: 50%;
}
