:root {
  --p-4: 4px;
  --p-8: 8px;
  --c-dark: #333;
  --c-light: #fff;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
}

nav,
footer {
  padding: var(--p-8);
  background: var(--c-dark);
  color: var(--c-light);
}

main {
  min-height: calc(100vh - 68px);
}
